## Files
*.DS_Store
version-1/composer.json
version-1/composer.lock
version-1/composer.phar
version-1/node_modules
version-1/npm-debug.log
version-1/package-lock.json

version-2-eleventy/composer.json
version-2-eleventy/composer.lock
version-2-eleventy/composer.phar
version-2-eleventy/node_modules
version-2-eleventy/npm-debug.log

## Jekyll
version-1/_site
*.jekyll
*.jekyll-metadata
*.bundle
*.sass-cache
*Gemfile.lock
version-1/_plugins/.cache/