<footer>
  <div class="wrapper">
    {% include "components/engagement.njk" %}
    <a class="footer__contribute" href="{{ '/' | url }}contribute"><div class="anchor-text">Contribute to IndieWeb Guides</div><span aria-hidden="true">+</span></a>
  </div>
</footer>