<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>

  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:image" content="https://indiewebguides.org/images/iwg-twitter.jpg?190505">
  <meta name="twitter:title" content="{{ title or metadata.title }}" />
  <meta property="og:title" content="{{ title or metadata.title }}">
  <meta name="twitter:url" content="{{ page.url }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://indiewebguides.org/images/iwg-twitter.jpg?190505" />
  {% if excerpt %}
    <meta name="twitter:text:description" content="{{ excerpt }}" />
    <meta name="og:description" content="{{ excerpt }}" />
  {% else  %}
    <meta name="twitter:text:description" content="Clear, simple guides to taking greater control of your data on the Web" />
    <meta name="og:description" content="Clear, simple guides to taking greater control of your data on the Web" />
  {% endif %}

  <meta name="application-name" content="IndieWebGuides">

  <meta name="theme-color" content="#212227">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/assets/styles/app.css">
  <link rel="canonical" href="{{ page.url }}">
  <link rel="manifest" href="/app.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="https://indiewebguides.org/images/app.ico"/>
  <link rel="apple-touch-icon" href="https://indiewebguides.org/images/app.png" type="image/png">
  <script> </script><!-- Firefox FOUC solution -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script src="/assets/scripts/app.js" async></script>
</head>
