<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="stylesheet" href="/assets/styles/app.css">
  <script> </script><!-- Firefox FOUC solution -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!--<script src="/assets/scripts/app.js" async></script>-->
</head>
