<nav class="nav-primary {% if navtitle == "Home" %}nav-primary--short{% endif %}">
    {% if navtitle != "Home" %} {% include "components/logo.njk" %} {% endif %}
    {% include "components/search.njk" %}
</nav>