<nav class="nav-primary {% if navtitle == "Home" %}nav-primary--short{% endif %}">
    {% if navtitle != "Home" %} {% include "components/logo.njk" %} {% endif %}
    <div class="nav-primary__items">
        <a class="nav-item" href="{{ '/' | url }}guides">Browse guides</a>
        {% include "components/search.njk" %}
    </div>
</nav>