<p>
<strong>This section isn't complete yet</strong><br>Submit a <a href="https://github.com/calumryan/indieweb-guides/blob/master/version-2-eleventy/browse/{{ title | slug }}.md">pull request</a> to contribute to this guide.</p>