[{% for item in collections.guide %}
  {
    "title": "{{ item.data.title }}",
    "content": "{{ item.templateContent | tokenize | jsonify }}",
    "url": "{{ item.url | permalink }}"
  }{% if loop.last %}{% else %},{% endif %}
{% endfor %}]