<!doctype html>
<html lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">

  {% if page.logo != true %}
  <header class="entry-header">
    <div class="entry-wrapper">
      <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
    </div>
  </header>
  {% else %}

  {% endif %}

  <article class="entry">

    <div class="entry-wrapper">


      <div class="entry-content">

        <p>{{ page.excerpt }}</p>

        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

{% include take-part.html %}

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->


{% include scripts.html %}

</body>
</html>
