/* ==========================================================================
   Archive pages
   ========================================================================== */




/*
   Post archive
   ========================================================================== */

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 1;

  @include media($medium) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: flex-start;
  }

  li {
    border-bottom: 1px solid lighten($white,80);
    border-bottom: 1px solid rgba($white,.10);
    @include font-size(25,no);
    @include clearfix;
    margin-bottom: 10px;

    @include media($medium) {
      flex-direction: column;
      flex: 1 0 50%;
      max-width: 50%;
      display: flex;
      padding: 0 5px;
    }

    h3 {
      margin: 0 0 10px 0;
    }

    a {
      border-bottom-width: 0; /* remove underlines from items in post indexes */
      background-color: $pane-active-bg;
      color: #FFF;
      padding: 15px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 100px;

      &:hover {
        background: #1a1a1a;
        color: #FFF;
      }

      &:focus {
        background-color: #FFB100;
        color: #000;
      }

    }
  }

  a > span {
    float: right;
  }

  .entry-date {
    @include font-size(14,no);
    text-transform: uppercase;
    display: none;

    @include media($medium) {
      display: inline;
    }
  }

  /* post excerpt */
  .excerpt {
    display: block;
    float: none;
    @include font-size(18, no, 20);
  }

  &-after {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
  }
}

/*
   Tag archive
   ========================================================================== */

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  @include clearfix;

  &.inline li {
    float: left;
    @include font-size(14);
    line-height: 2.5;
  }

  a {
    padding: 4px 6px;
    margin: 2px;
    background-color: lighten($black, 90);
    @include rounded(4px);
    text-decoration: none;

    span {
      vertical-align: super;
      @include font-size(10);
    }
  }
}
