/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-wrapper {
  text-align: center;
  @include clearfix;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #FFF;
  border-bottom: 1px solid #e2e2e2;

  @include media($medium) {
        background-color: rgba(255, 255, 255, 0.9);
  }

  .site-nav-toggle {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 0;
    padding: 15px 20px;
    border: 0;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;

    &:hover, &:focus {
      outline:none;
      color: $link-color;
    }

    @include media($medium) {
      display: none;
    }
  }

  &__logo {
    display: block;

    @include media($medium) {
      float: left;
      display: inline-block;
    }

    svg {
      display: block;
      width: 100px;
      height: auto;
      @include media($medium) {
        width: 150px;
        /* IE */
        height: 56px !important;
      }
    }
  }

  ul {
    display: inline-block;
    vertical-align: top;
    margin: 17px 0;
    padding: 0;
    width: 80%;
    @include clearfix;

    @include media($medium) {
      padding: 4px 20px;
      width: auto;
      padding-top: 15px;
      padding-bottom: 0;
      margin: 0;
    }

  }

  li {
    display: block;
    list-style: none;
    text-align: center;
    @include font-size(14,no);
    font-weight: 600;

    @include media($medium) {
      @include font-size(18,no);
      float: left;
    }

    a:hover {
      // @include box-shadow($shadow: inset 0 0 1px $white);
      // color: $indieweb;
    }

  }

  a {
    display: block;
    padding: 5px 0;
    color: $link-color;
    border-bottom: 1px solid #ececec;

    @include media($medium) {
      padding: 10px 15px;
      border:none;
    }



    &:hover, &:focus, &:active {
      color: $link-color;
      text-decoration: underline;
    }
  }

  li:last-child {
    a {
      border:none;
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  z-index: 5;
  background-color: #FFF;
  width: auto;
  float: none;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;

  @include media($medium) {
    float: right;
    width: auto;
    background-color: transparent;
    max-height: 900px;
    transition: none;
  }

  &.closed {

    @include media($medium) {
      display: block;
    }
  }

  &.opened {
    display: block;
    max-height: 100%;

    li {
      float: none;

      @include media($medium) {
        float: left;
      }
    }
  }
}

.body-state--open #site-nav {
  max-height: 900px;
}

/* display when JavaScript is disabled */
// .no-js #site-nav {
//   display: block;
// }

// #nav-toggle {
//   z-index: 20;
//   display: block;
//   vertical-align: top;
//   margin: 0;
//   padding: 6px 20px;
//   background-color: $black;
//   height: 44px;
//   @include rounded(0);
//
//   @include media($medium) {
//     display: none;
//   }
// }

.articles-navigation {
  padding: 30px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  li {
    width: 100%;
    flex:1 0 auto;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    @include media($medium) {
      flex: 1 0 50%;
      width: 50%;
      max-width: 50%;
    }

    div {
      padding: 10px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      a {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 0;
    }
  }
}

.takepart {
  background-color: $indieweb;
  color: #FFF;
  padding: 50px 0;
  text-align: center;

  h2 {
    margin-top: 0;
  }

  a {
    color: #FFF;
    text-decoration: underline;
  }

  p {
    margin: 0;
  }
}
