<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="generic">

        {% include "components/skip.njk" %}
        {% include "components/nav-primary.njk" %}

        <main id="main" class="page-wrap">




            <div class="article pane-browser">

                <div id="section" class="section-pane pane pane-primary with-sort">
                    <div class="pane-inner curated">
                        <h2 tabindex="-1">{{ title }}</h2>
                        <p class="sort-order">A to Z</p>

                        {% set postslist = collections[ menu ] %}
                        <ul role="navigation">
                        {% for post in postslist | reverse %}
                        <li {% if post.url == page.url %}class="active"{% endif %}><a href="{{ post.url | url }}" {% if post.url == page.url %} data-current="current item"{% endif %}>{{ post.data.title }} <div class="pane-excerpt">{{ post.data.excerpt }}</div></a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                <div id="root" class="pane pane-root">
                    <h1 class="anchor-text" tabindex="-1">{{ post.primary_tag }}</h1>
                    <ul role="navigation">
                        {% set postslist = collections.guidesIndex %}
                        {% for post in postslist | reverse %}
                        <li {% if post.url == page.url %}class="active"{% endif %}><a href="{{ post.url | url }}" {% if post.url == page.url %} data-current="current item"{% endif %}>{{ post.data.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>

		{% include "components/footer.njk" %}

	</body>

</html>
