<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="fill">

		<div class="side">

			<header>

				<div class="wrapper">

					<div class="fill__title">
						<div class="fill__logo">
						{% include "assets/vectors/logo-text.svg" %}
						</div>
						<p class="p-summary">Clear, simple guides to taking greater control of your data on the Web</p>
					</div>

				</div>

			</header>

		</div><!-- /side-->

		<main>

			<div class="wrapper">
				<div class="steps">
				{{ layoutContent | safe }}
				</div>
			</div>

		</main>

		<footer>
			<div class="wrapper">
				{% include "components/engagement.njk" %}
			</div>
		</footer>

	</body>

</html>
