<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="generic">

        {% include "components/skip.njk" %}
        {% include "components/nav-primary.njk" %}

        <article class="h-entry e-content" role="main">
            <header class="mega-header header-width-bottom-band">
                <div class="mega-header-content">
                    <h1 class="p-name">{{ title }}</h1>
                </div>
            </header>
            <div class="mega-header-band">
                <div class="mega-header-band-content">
                    <ol class="mega-header-band-content-content breadcrumbs">
                        <li>
                            <a href="{{ nav.url }}/guides/">Guides</a>
                        </li>
                        <li>{{ title }}</li>
                    </ol>
                </div>
            </div>
            <div id="main" class="page-wrap">
                <div class="article">

                    <div class="article-content">
                        {% if status == 'draft' %}
                        {% include "components/placeholder.njk" %}
                        {% else %}
                            {% if excerpt != '' %}
                            <p class="p-summary">{{ excerpt }}</p>
                            {% endif %}
                            {{ layoutContent | safe }}
                        {% endif %}
                    </div>

                    <div class="article-aside">
                        <h2>Also in this section</h2>
                        {% set postslist = collections[ secondary_tag ] %}
                        <ul>
                        {% for post in postslist | reverse %}
                            {% if post.url != page.url %}
                            <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </article>

		{% include "components/footer.njk" %}

	</body>

</html>
