.article {
    display: block;
    max-width: var(--max-width);
    grid-gap: 2rem;
    margin: 0 auto;
    padding: 4rem 0;
}

.article ul,
.article ol {
    padding:0
}

.article ul li {
    list-style-type: square;
}

.article ol li {
    list-style-type: decimal;
}

.article li a {
    text-decoration:underline
}

.article li a:hover {
    text-decoration:none
}

@media (--from-large-viewport) {
    .article {
        display: grid;
        grid-template-columns: minmax(0,1fr) 300px;
        grid-gap: 4rem;
    }
}

.article-content {
    overflow-wrap: break-word;
    color: #2e2f3e;
    font-size: 18px;
    line-height: 1.5;
}

.article-content .p-summary {
    font-weight: 600;
    font-size: 20px;
}

.article-content>ul,
.article-content>ol {
    padding-left:20px;
}

.article-content h2 {
    margin-top: 0;
}

.article-content h3 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    margin: 1.5em 0 .5em;
}

.article-content p,
.article-content > ul,
.article-content > ol {
    margin-bottom: 1.5em;
}

.article-content p > a {
    text-decoration: underline;
}

.article-content p > a:hover,
.article-content p > a:focus {
    text-decoration: none;
}

.article-content pre {
    overflow-x: scroll;
    position: relative;
    margin: 0;
    padding: 1em;
    background-color: #efefef;
    border-radius: 0.3em;
}

.article-content p>code,
.article-content li>code {
    background-color:#e2e2e2
}

.article-aside h2 {
    border-top:5px solid #005ea5;
    padding-top:10px
}

.article-aside>ul{
    padding-left: 20px;
}

.article-aside>ul>li{
    margin-bottom: 5px;
    font-size: 18px;
}

/* @media screen and (min-width: 48em) {
    .article {
        flex: 1 0 33.333%;
        max-width: 33.333%;
        min-width: 33.333%;
        flex-direction: column
    }
    .article>div {
        padding-left: 30px
    }
} */
