.mega-header {
  padding: 2rem 1rem;
  padding-right: 55px;
  background-color: var(--color-page-heading);
  color: #fff;
  border-bottom-right-radius: 100px;
  position: relative;
  z-index: 1;
}

.mega-header h1 {
  font-size: 25px;
  font-weight: 600;
}

@media (--from-medium-viewport) {
  .mega-header {
    padding: 4rem 2rem;
  }
  .mega-header h1 {
    font-size: 40px;
  }
}

@media (--from-large-viewport) {
  .mega-header h1 {
    font-size: 50px;
  }
}

.mega-header-content {
  max-width: var(--max-width);
  margin: auto;
}

.mega-header-band {
  background-image: linear-gradient(to right,#ffb100,#ffb100,#ff5c00);
  position: relative;
}

.mega-header-band-content {
  padding: calc(180px + 1rem) 2rem 0 2rem;
  margin-top: -180px;
  overflow: hidden;
}

.mega-header-band-content-content {
  display: flex;
  justify-content: flex-start;
  max-width: var(--max-width);
  margin: 0 auto 20px auto;
  flex-wrap: wrap;
  align-items: center;
}