.nav-primary {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0.8em 1em;
    background-color: var(--color-page-heading);
    position: relative;
    z-index: 20;
    animation: none;
}

@keyframes move-down {
    100% {
        transform:translateY(0)
    }
}

.header-not-at-top .nav-primary {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
    animation: move-down .2s forwards;
}

.nav-primary--short {
    justify-content: flex-end;
}