.panels ul {
    margin: 2em 0;
}

.panels li {
    background-color: var(--color-block-link);
    color: #FFF;
    padding: 15px;
    margin: 0 0 1em 0;
}

.panels a {
    text-decoration: underline;
    display: block;
    font-weight: 600;
}

.panels a:hover,
.panels a:focus {
    text-decoration: none;
}

.panels h3,
.panels h2 {
    margin: 0 0 0.5em 0;
    font-size: 1.5em;
}