.widget {
    position: relative;
    padding: .5em;
}

.widget form {
    position: relative;
}

.widget form svg {
    position: absolute;
    width: 2em;
    right: 1em;
    top: 50%;
    z-index: 2;
    margin-top: -1em;
}

.widget__search {
    position: fixed;
    background-color: rgb(45, 45, 45);
    width: 100%;
    transition: .1s;
    left: 0;
    top: 72px;
    transform: translateY(-100px);
    visibility: hidden;
    opacity: 0;
}

@media (--from-large-viewport) {
    .widget__search {
        width: 50%;
    }
}

.widget__search--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 10;
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
}

@media (--from-large-viewport) {
    .generic .widget__search,
    .generic .widget__search--visible {
        transform: none;
        visibility: visible;
        opacity: 1;
        width: auto;
        position: relative;
        top: auto;
        left: auto;
        background-color: transparent;
        padding: 0 .5em;
        box-shadow: none;
    }
}

.widget__search .form__combobox {
    border-radius: 28px;
    background-color: #fff;
    display: flex;
    padding: 2px;
}

.widget__search .form__combobox:focus-within {
    background-color: #ff5c00;
}

.widget__search label {
    @extend %visually-hidden;
}

.widget__search .form__input {
    background-color: var(--color-input);
    margin: auto;
    flex: 1;
    border-radius: 28px;
    padding: .75rem 2.5rem .75rem 1.5rem;
    color: #fff;
}

.widget__search input[type="search"] {
    -webkit-appearance: textfield;
}

.widget__search .form__field {
    margin: 0;
}

.widget__search .form__input:focus {
    border-color: var(--color-input);
}

.widget__search .form__input::selection {
    background: #2730b0;
    color: #fff;
}

.widget__search__button {
    z-index: 2;
    width: 3em;
    height: 3em;
    border-radius: 5px;
    padding: 0.5em;
    background-color: #ff5c00;
    transition: all .3s ease-in-out;
}

@media (--from-large-viewport) {
    .generic .widget__search__button {
        display: none;
    }
}

.widget__search svg g path,
.widget__search__button svg g path {
    transition: all .3s ease-in-out;
    fill: #fff;
}

.widget__search__button:hover,
.widget__search__button:focus {
    background-color: #ffffff;
}

.widget__search__button:hover svg g path,
.widget__search__button:focus svg g path {
    fill: #ff5c00;
}

.widget__search__button svg {
    width: 100%;
    display: block;
}