<!-- Twitter Cards -->
<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
      name="twitter:title" />
<meta content="{{ page.excerpt | strip_html }}"
      name="twitter:description" />
<meta content="@{{ site.owner.twitter }}"
      name="twitter:site" />
<meta content="@{{ author.twitter }}"
      name="twitter:creator" />
<meta content="summary_large_image"
      name="twitter:card" />
<meta content="summary"
      name="twitter:card" />
<meta content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}"
      name="twitter:image" />
<!-- Open Graph -->
<meta content="{{ site.locale }}"
      property="og:locale" />
<meta content="article"
      property="og:type" />
<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
      property="og:title" />
<meta content="{{ page.excerpt | strip_html }}"
      property="og:description" />
<meta content="{{ page.url | replace:'index.html','' | prepend: site.url }}"
      property="og:url" />
<meta content="{{ site.title }}"
      property="og:site_name" />
